Q4) Top 50 des prénoms féminin depuis 1880, durant la première partie du 20ème siècle et durant la décennie 2000.

Q5) Calculer le nombre de prénom unique par année et par genre et tracer l'évolution

Exercice 4

In [3]:
# Définition du nom d fichier
filename <- "data_prenom_US.csv" 
# Chargement du fichier
dataset <- read.csv(filename, header=TRUE) 
#### Chanement du nom des colonnes
names(dataset) <- c("X", "année", "prénom", "genre", "naissance")
# Affichage des 5 premières lignes
head(dataset)

  X année prénom    genre naissance
1 0 1880  Mary      F     7065
2 1 1880  Anna      F     2604
3 2 1880  Emma      F     2003
4 3 1880  Elizabeth F     1939
5 4 1880  Minnie    F     1746
6 5 1880  Margaret  F     1578

In [4]:
library("dplyr")
library(ggplot2)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Exercice 3

In [ ]:
dataset %>% filter(genre == "F") %>% 
    group_by(prénom) %>% 
    summarise(somme = sum(naissance), na.rm = TRUE) %>% 
    arrange(desc(somme)) %>% 
    head(50)

In [ ]:
dataset %>% filter((genre == "F") & (année >= 1900) & (année <= 1950)) %>% 
    group_by(prénom) %>% 
    summarise(somme = sum(naissance), na.rm = TRUE) %>% 
    arrange(desc(somme)) %>% 
    head(50)

In [ ]:
dataset %>% filter((genre == "F") & (année >= 2000) & (année <= 2010)) %>% 
    group_by(prénom) %>% 
    summarise(somme = sum(naissance), na.rm = TRUE) %>% 
    arrange(desc(somme)) %>% 
    head(50)

Exercice 4

In [ ]:
dataset %>% group_by(année, genre) %>% summarise(nb = n()) %>% head()

In [10]:
DataM <- dataset %>% group_by(année, genre) %>% summarise(nb = n()) %>% filter(genre =="M")
DataF <- dataset %>% group_by(année, genre) %>% summarise(nb = n()) %>% filter(genre =="F")
df <- rbind(DataM, DataF)

`summarise()` regrouping output by 'année' (override with `.groups` argument)

`summarise()` regrouping output by 'année' (override with `.groups` argument)

In [ ]:
ggplot() + 
geom_line(data = df, aes(x = année, y = nb, colour = genre))